body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/* Header */

.header .container {
  display: flex;

  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 73px;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin-right: 237px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-link {
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}

.current {
  font-weight: 600;
}

.header-list-btn {
  display: flex;
  gap: 21px;
}

.header-btn {
  font-weight: 600;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
}

.header-btn-in {
  border: 1px solid #bcd0e5;
  color: #173a56;
  background-color: transparent;
}

.header-btn-up {
  border: none;
  background: #02897a;
  color: #fff;
}
.heder-customers {
  margin-bottom: 100px;
}

/* Hero */
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-wrapper {
  max-width: 465px;
}

.hero-title {
  font-size: 40px;
  line-height: 1.5;
  width: 400px;
  margin-bottom: 18px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
}

.hero-list-btn {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn-started {
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  border: none;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.watch-btn {
  background-color: transparent;
  border: none;
  min-width: 164px;
  height: 23px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
  display: flex;
  gap: 9px;
  align-items: center;
}
.watch-btn-icon {
  fill: #02897a;
}
.hero-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #02897a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.hero-link::before {
  content: " ";
  bottom: 0;
  left: 0;
  background-image: url(../images/play.svg);
  width: 16px;
  height: 18px;
  border-radius: 4px;
  margin-right: 9px;
}
.hero-link:active {
  scale: 0.95;
}

/* Product */
.product {
  padding-top: 50px;
  padding-bottom: 25px;
  background: #f5f5f5;
}

.product-title {
  font-size: 32px;
  text-align: center;
  color: #22343d;
  width: 535px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-item {
  width: calc((100% - 90px) / 4);
}

.product-icon-wrap {
  width: 54px;
  height: 54px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
.product-icon-wrap-first {
  background: #02897a;
}
.product-icon-wrap-second {
  background: #4d8dff;
}
.product-icon-wrap-third {
  background: #740a76;
}
.product-icon-wrap-forth {
  background: #f03e3d;
}
.product-icon {
  fill: #fff;
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}

.product-text {
  line-height: 1.625;
}

.product-btn {
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  background: #02897a;
  border: none;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
/* Management */
.management {
  margin-bottom: 100px;
}
.management .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  gap: 84px;
}
@media screen and (min-width: 1150px) {
  .management .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 1150px) {
  .management-wrapper {
    padding-top: 48px;
    max-width: 486px;
  }
}
.management-name {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 12px;
}
.management-text {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px;
}
/* Customers  */
.support {
  padding: 50px 0;
}

.support .container {
  display: flex;
  gap: 84px;
  align-items: center;
}

.support-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.support-title-part {
  font-size: 32px;
}

.support-text {
  line-height: 1.625;
  margin-bottom: 30px;
}

.support-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.support-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.support-icon-wrap {
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-icon-wrap-first {
  background: #f90;
}

.support-icon {
  fill: #fff;
}

.support-desc {
  line-height: 1.625;
  max-width: 385px;
}

.support-icon-wrap-second {
  background: #f03e3d;
}

.support-icon-wrap-third {
  background: #4d8dff;
}
/* Collaborative */
.collaborative {
  margin-bottom: 100px;
}
.collaborative .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  gap: 84px;
}
@media screen and (min-width: 1150px) {
  .collaborative .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (min-width: 1150px) {
  .collaborative-wrapper {
    padding-top: 48px;
    max-width: 486px;
  }
}
.collaborative-name {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 12px;
}
.collaborative-text {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px;
}
/* Quick & Easy Proces */
.quick {
  margin-bottom: 100px;
  background-image: url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: center 0px;
}
.quick .container {
  padding-top: 50px;
}
.quick .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
}
.quick-subtitle {
  max-width: 542px;
  margin: 0 auto;
  color: #22343d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 40px;
}
@media screen and (max-width: 1149px) {
  .quick-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .quick-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 25px;
    -webkit-transition: color, scale 750ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color, scale 750ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .quick-item:hover {
    color: #02897a;
    scale: 1.1;
  }
  .quick-img {
    width: 89px;
    height: 88px;
  }
  .quick-bg {
    background-image: url(../images/cloud-left.png);
  }
  .quick-bg.right {
    background-image: url(../images/cloud-right.png);
  }
}
@media screen and (min-width: 1150px) {
  .quick-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .quick-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 17px;
    margin-bottom: 25px;
    width: calc((100% - 30px) / 2);
    -webkit-transition: color, scale 750ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color, scale 750ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .quick-item:not(:nth-child(-n + 2)) {
    margin-bottom: 0px;
  }
  .quick-item:hover {
    color: #02897a;
    scale: 1.1;
  }
  .quick-img {
    width: 98px;
    height: 98px;
  }
  .quick-bg {
    background-image: url(../images/cloud-left.png);
  }
  .quick-bg.right {
    background-image: url(../images/cloud-right.png);
  }
}
.quick-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 35px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
.quick-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background: #02897a;
  padding: 14px 30px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.quick-btn:active {
  scale: 0.95;
}
/* Contents Strategies */
.strategies {
  margin-bottom: 100px;
}
.strategies-subtitle {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 40px;
}
@media screen and (min-width: 1150px) {
  .strategies-subtitle {
    width: 465px;
  }
}
.strategies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 1150px) {
  .strategies-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.strategies-item {
  width: 350px;
  border: 1px solid #efefef;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 750ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.strategies-item:hover,
.strategies-item:focus {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.strategies-img {
  width: 350px;
  height: 185px;
  margin-bottom: 24px;
}
.strategies-wrapper {
  padding: 0 27px;
  margin-bottom: 40px;
}
.strategies-date {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 12px;
}
.strategies-title {
  color: #22343d;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  -webkit-transition: color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.strategies-title:hover {
  color: #02897a;
}
.strategies-bold {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
/* Price Table */
.price {
  text-align: center;
  margin-bottom: 100px;
}
.price-subtitle {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}
.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 72px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 1150px) {
  .price-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.price-item {
  width: 322px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: scale 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.price-item .green {
  background-color: #02897a;
  border-radius: 8px;
}
.price-item:hover {
  scale: 1.05;
}
.price-btn {
  padding: 11px 18px;
  border-radius: 8px;
  background: #02897a;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.price-btn:active {
  scale: 0.95;
}
.price-btn.color {
  color: #02897a;
  background: #fff;
}

.card {
  padding: 32px 73px;
}
.card-title {
  color: #22343d;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
.card-title.color {
  color: #fff;
}
.card-description {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5;
}
.card-description.color {
  color: #fff;
}
.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px;
}
.card-number {
  color: #02897a;
  text-align: center;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.2px;
}
.card-number.color {
  color: #fff;
}
.card-valute {
  color: #02897a;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1px;
  text-align: start;
}
.card-valute.color {
  color: #fff;
}
.card-month {
  color: #afafaf;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.1px;
}
.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.card-info {
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.2px;
}
.card-info.color {
  color: #fff;
}
/* Join 100 Compannies who boost their business with Product */
.boost {
  margin-bottom: 100px;
}
@media screen and (min-width: 1150px) {
  .boost .container {
    padding: 0 71px;
  }
}
.boost-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 32px;
  background: #02897a;
}
.boost-content {
  padding: 21px;
}
@media screen and (min-width: 1150px) {
  .boost-content {
    padding: 50px;
  }
}
.boost-text {
  max-width: 500px;
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 46px;
}
.boost-btn {
  padding: 10px 34px;
  border-radius: 8px;
  background: #fff;
  color: #02897a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.boost-btn:active {
  scale: 0.95;
}
@media screen and (min-width: 1149px) {
  .boost-img1 {
    display: none;
  }
}
.boost-img2 {
  display: none;
}
@media screen and (min-width: 1150px) {
  .boost-img2 {
    display: block;
  }
}
/* clients */
.clients {
  text-align: center;
  margin-bottom: 117px;
}
.section-clients {
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
  margin-bottom: 52px;
}
.clients-logo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;
}
.logos-img {
  height: 50px;
  transition: transform 0.3s ease;
}

.logos-img:hover {
  transform: scale(1.1);
}

/* footer */
.footer {
  padding-top: 50px;
  padding-bottom: 40px;
}

.footer-container {
   display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
  gap: 60px;
}


.logo-footer {
  margin-bottom: 18px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-icon {
  fill: #02897a;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #edfffc;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  display: block;
  
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-link {
  color: #22343d;
}

.footer-resource-wrap {
  margin-left: 80px;
}

.footer-stuff-wrap {
  margin-left: 80px;
}

.footer-form-wrap {
  margin-left: 60px;
  max-width: 325px;
}
.footer-form-text {
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.6;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.footer-label {
  position: relative;
}

.footer-input {
  width: 325px;
  height: 48px;
  outline: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
}
.footer-input::placeholder {
  line-height: 1.75;
  color: #02897a;
}
.footer-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: #02897a;
}

.footer-form-btn {
  min-width: 131px;
  height: 39px;
  border: none;
  border-radius: 4px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.footer-desk {
  margin-top: 16px;
  color: #22343d;
  font-size: 16px;
  font-style: normal;
  line-height: 1.8;
  text-align: center;
}

/* modal */
.backdrop {
  background: rgba(94, 99, 99, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  width: 458px;
  border-radius: 30px;
  background-color: #02897a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
}

.modal-close-btn {
  width: 32px;
  height: 32px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 100%;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 12px;
  right: 12px;
}

.mpdal-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
}

.modal-field {
  margin-bottom: 24px;
}

.modal-label {
  font-weight: 500;
  line-height: 1.4;
  color: #2c2c2c;
  margin-bottom: 2px;
  display: block;
}

.modal-input {
  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
  width: 100%;
  height: 48px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  outline: transparent;
  padding-left: 12px;
}
.modal-input:focus {
  border: 1px solid #d7ec3c;
}

.modal-send-btn {
  border: 2px solid #7eb101;
  border-radius: 30px;
  min-width: 106px;
  height: 40px;
  background: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  margin: 0 auto;
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-chek:checked + .label-check > .checkbox {
  fill: #02897a;
  background-color: #fff;
}

.label-check {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #fbfbff;
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
}


.check-link {
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
}
